@import url('https://fonts.googleapis.com/css2?family=REM&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;  
}

.container{
background-image: url('');
background-size: cover;
    height: 100vh;
    margin: -8px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('https://wallpaperaccess.com/full/640039.jpg');
}
.title{
    text-align: center;
    margin-top: -82px;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    text-shadow: 1px 3px 9px rgb(249, 249, 248);
    transition: font-size 0.2s ease, font-family 0.3s ease, text-shadow 0.5s ease, cursor 0.5s ease;
}
.title:hover{
    font-size: 40px;
    font-family: sans-serif;
   text-shadow: 1px 3px 25px rgb(225, 163, 5);
   cursor: grab;
}
.image{
    
    text-align: center;
    padding: 10px;
    margin-top: -70px;
    
    display: flex;
    justify-content: center;
    gap: 100px;
    
 
}
.description{
  color: white;
  line-height: 40px;
    text-align: center;
    margin-top: -60px;
    padding: 40px;
    font-size: 25px;
}
.fa-chevron-right{
    font-size: 50px;
    color: rgb(166, 145, 9);
   transition: color 0.6s ease, text-shadow 0.6s ease, font-size 0.6s ease;
    padding-top: 30px;
}
.img{
    border-radius: 40px;
    box-shadow: 2px 10px 35px rgb(205, 16, 192);
    height: 120px;  
    transition: height 0.5s ease, box-shadow 0.6s ease, cursor 0.5s ease;
}
.img:hover{
    height: 150px;
    box-shadow: 1px 5px 12px white;
    cursor: grab;
}
.fa-chevron-right:hover{
    color: blue;
    font-size: 70px;
    text-shadow: 1px 8px 13px yellow;
    cursor: crosshair;
}
.my-form{
    height: 170vh;
    background-color: darkslategray;
    width: 1010px;
    margin-left: -8px;
    margin-top: 10px;
    box-shadow: 1px -5px 12px blue;
}
#form-general{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 560px;
    margin-left: 80px;
 
    width: 475px;
   
}
#generalData{
    display:flex;
    justify-content: space-evenly;
    width: 950px;
    margin-left: 52px;
}
.label{
    display: inline;
    background-color: rgb(184, 128, 24);
    max-width: 90px;
    font-size: 15px;
    border-radius: 9px;
    font-family: monospace;
    word-spacing: -4px;
    text-align: center;
    margin-right: 12px;
    padding: 4px;
}
.input{
    display: inline;
    max-width: 250px;
    border-radius: 10px;
    padding: 5px;
    background-color: lightgrey;
    font-family: sans-serif;
    transition: max-width 0.6s ease, padding 0.6s ease, font-size 0.6s ease;
}
.input:hover{
    max-width: 270px;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}
.info{
    padding: 5px;
   
}
.btn-submit{
 box-shadow: 1px 2px 17px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    max-width: 85px;
    margin-left: 100px;
    font-family: sans-serif;
}
.generall{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 7px;
    margin-top: 30px;
    height: 100vh;
    border-radius: 15px;
}
.namer{
    height: 70px;
    background-color: rgb(6, 86, 121);
    margin-left: 130px;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 12px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
}
#generall-name{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 21.5px;
    font-weight: bold;
    
}
#generall-career{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
    font-weight: bolder;
    
}
.em{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 2px;
}
.cont{
    margin-bottom: 5px;
    margin-left: 2px;
}
.mar{
    margin-bottom: 5px;
    margin-left: 2px;
}
#generall-email{
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100px;
    
    
}
.infodata{
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 135, 225);
    max-width: 200px;
    height: 70vh;
    gap: 10px
}
.fa-user-plus{
    font-size: 20px;
   
    padding: 10px;
    margin-bottom: -22px;
    margin-top: 7px;
    margin-left: 10px;
}
.geninf{
    background-color: rgb(208, 208, 217);
    width: 250px;
    font-family: monospace;
    box-shadow: 1px 3px 13px rgb(14, 222, 14);
    border: 2px double rgb(127, 111, 111);
    font-size: 18px;
    margin-left: 70px;
    margin-top: -20px;
    padding: 7px;
    border-radius:5px;
}
.fa-envelope{
    margin-left: 2px;
    margin-right: 3px;
    font-size: 20px;
}
.fa-phone-square{
    margin-left: 2px;
    margin-right: 3px;
    font-size: 20px;
}
.fa-user-friends{
    margin-left: 2px;
    margin-right: 3px;
    font-size: 20px;
}
#generall-contact{
    font-family: Arial, Helvetica, sans-serif;

}
#generall-marital{
    font-family: Arial, Helvetica, sans-serif;
}

